
@import "settings";
@import "usercontent";

html .mceContentBody {
	color: $color-text;
	font-size: 1em;
	line-height: 1.5em;
	width: 95%;

	p:first-child,
	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child,
	h5:first-child,
	h6:first-child {
		margin-top: 0;
	}

	@include user-content;
}
